.bg{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRzTWr8bZbENMxTn3humJfG0STIJW9jVnEytw&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;
}

form.search-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.search-form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.search-form button:hover {
    background: #0b7dda;
  }
  
  form.search-form::after {
    content: "";
    clear: both;
    display: table;
  }

.bold{
    font-weight: 400;
}

.spacing-left-card{
    margin-left: 1% !important;
    border-left: 1px solid rgba(0,0,0,.125) !important;
}

.no-pad{
    padding-left: 0px;
    padding-right: 0px;
}

footer{
    margin-top: 15px;
    height: 30px;
    text-align: center;
}

.hide{
  display: none;
}

.not-harmful{
  background-color: green;
  padding: 2px;
}

.harmful{
  background-color: red;
  padding: 2px;
}

main{
  height: 100%;
}

.forecast-display-section{
  visibility: hidden;
}